albumentations
djitellopy
certifi
charset-normalizer
cycler
fonttools
future
idna
imageio
iso8601
joblib
kiwisolver
matplotlib
networkx
numpy
opencv-python
opencv-python-headless
packaging
Pillow
pygame
##playsound
progressbar
pyparsing
python-dateutil
PyWavelets
PyYAML
qudida
requests
scikit-image
scikit-learn
scipy
serial
six
threadpoolctl
tifffile
torch
typing-extensions
urllib3
ultralytics
websockets
